* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: firebrick;
  color: #ffffff;
  z-index: 100;
}

.header h1 {
  padding: 5px 0;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.location-icon {
  font-size: 2rem;
  color: firebrick;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.location-info {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4914740896358543);
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
}

.location-info h1 {
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

.location-info ul {
  list-style-type: none;
  padding: 0%;
}

.location-info li {
  padding: 8px 0;
}

@media (max-width: 800px) {
  .location-info {
    width: 200px;
    min-height: 100px;
    padding: 10px;
    font-size: 13px;
  }

  .location-info li {
    padding: 5px 0;
  }
}

@media (max-width: 550px) {
  .header {
    font-size: 10px;
  }

  .location-info {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 150px;
    min-height: 80px;
    padding: 8px;
    font-size: 8px;
  }
}
